eric/DTDs/Templates-3.8.dtd

<!-- This is the DTD for eric3's templates file version 3.8 -->

<!ELEMENT   TemplateText        (#PCDATA)>

<!ELEMENT   Template            (TemplateText)>
<!ATTLIST   Template
    name        CDATA   #REQUIRED>

<!ELEMENT   TemplateGroup       (Template*)>
<!ATTLIST   TemplateGroup
    name        CDATA   #REQUIRED
    language    CDATA   #REQUIRED>

<!ELEMENT   Templates           (TemplateGroup*)>
<!ATTLIST   Templates
    version     CDATA   #REQUIRED>
